<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todoish</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Todoish</h1>
    </header>
    <label
      ><input type="text" id="todoInput" placeholder="enter new todo"
    /></label>

    <input type="submit" id="todoInputBtn" />
    <ul class="todoList">
      <% todos.forEach( todo => { %>
        <li>
          <p id='todo'>
            <%= todo.body %>
          </p>
          <h6 id='date'>
            <%= todo.date %>
          </h6>
          <span>
            <button class='deleteBtn'>
              delete
            </button>
            <button class='complete'>
              complete
            </button>
          </span>
        </li>
      <% }); %>
      

    </ul>
    <script src="/js/main.js"></script>
  </body>
</html>
