* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #f0d4ff;
}

.btn-primary {
  background-color: #a500fd;
}

.btn-outline-primary {
  color: #a500fd;
}

/* header */

header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

a.title {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 2.2em;
}

.buttons {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

ul {
  margin-top: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.todo {
  width: 50%;
}

.todoList li {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 2px 5px;
  margin: 10px 0;
  border-radius: 10px;
}

label {
  margin: 16px 0;
}

#todoInput {
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 1.1rem;
}
#todoInput:focus {
  background-color: lightblue;
}

.deleteBtn {
  background-color: transparent;
  color: red;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.complete {
  background-color: transparent;
  color: orange;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  outline: none;
}

.done {
  text-decoration: line-through;
}

.todoList li button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.editInput {
  height: 40px;
  width: 200px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: lightblue;
}

li span {
  display: flex;
}

li .completed {
  text-decoration: line-through;
}

p input {
  font-size: 18px;
}
